* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08aeea;
  background-image: linear-gradient(#0f0c29, #302b63, #24243e);
}

a {
  text-decoration: none;
  color: unset;
}

#root {
  background-image: linear-gradient(0deg, #0c7ea8 0%, #1ab46f 100%);
  width: min(100vw, 500px);
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 500px) {
  #root {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}

.invalid {
  font-size: 14px;
  color: red;
}

.incorrect {
  background-color: rgba(255, 0, 0, 0.4) !important;
}

.correct {
  background-color: rgba(0, 255, 0, 0.3) !important;
}

.option {
  width: inherit;
  height: inherit;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .option {
    justify-content: flex-start;
  }
  .option > h1 {
    margin-bottom: 50px;
  }
  .option > div:nth-child(2) {
    max-height: auto !important;
    height: auto !important;
    margin-bottom: 50px;
  }
}
.option > h1 {
  text-align: center;
}
.option > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 300px;
  height: 300px;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}
.option > div:nth-child(2) > details {
  padding-left: 20px;
}
.option > div:nth-child(2) > details summary {
  font-weight: bold;
  font-size: 18px;
}
.option > div:nth-child(2) > details summary input {
  margin-right: 5px;
}
.option > div:nth-child(2) > details > div {
  display: flex;
  gap: 5px;
  padding-left: 35px;
  margin-bottom: 2px;
}
.option > div:nth-child(2) > details > div > input {
  cursor: pointer;
}
.option > div:nth-child(2) > details > div > input:hover + p {
  scale: 1.2;
  transform: translateX(30px);
}
.option > div:nth-child(2) > details > div p {
  font-weight: bold;
  font-style: italic;
  width: 350px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.option > div:last-child {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}
.option > div:last-child input {
  width: 200px;
  height: 30px;
  font-weight: bold;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 4px;
}
.option > div:last-child input:active {
  transform: translateY(2px);
}

.main {
  display: flex;
  flex-direction: column;
  height: inherit;
  max-width: 100%;
  padding: 10px;
}
.main > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.main > div:first-child > div {
  display: flex;
}
.main > div:first-child > div button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s;
  background-color: transparent;
}
.main > div:first-child > div button:active {
  transform: translateX(-2px);
}
.main > div:first-child > div button:hover {
  border-color: rgba(0, 0, 0, 0.3);
}
.main > div:first-child > div button i {
  height: 30px;
  width: 50px;
  display: inline-block;
}
.main > div:first-child > div button i.back {
  background-image: url("./../images/back.svg");
  background-size: 100% 100%;
}
.main > div:first-child > div button i.forward {
  transform: rotate(180deg);
  background-image: url("./../images/back.svg");
  background-size: 100% 100%;
}
.main > div:first-child > p:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
}
.main > div:first-child > div:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main > div:first-child > div:last-child > button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s;
  background-color: transparent;
}
.main > div:first-child > div:last-child > button:active {
  transform: translateY(-2px);
}
.main > div:first-child > div:last-child > button:hover {
  border-color: rgba(0, 0, 0, 0.3);
}
.main > div:first-child > div:last-child > button i.setting {
  height: 30px;
  width: 50px;
  display: inline-block;
  background-image: url("./../images/setting.svg");
  background-size: 100% 100%;
  animation: rotate 3s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.main > div:first-child > div:last-child > p {
  font-weight: bold;
  font-size: 18px;
}
.main section {
  height: calc(100% - 40px);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}
.main section > div:first-child {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.main section > div:first-child > p:first-child {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(241, 234, 234);
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.main section > div:first-child > p:nth-child(2) {
  font-size: 18px;
  text-align: justify;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding: 20px 10px;
}
.main section > div:nth-child(2) {
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}
.main section > div:nth-child(2) div {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  cursor: pointer;
}
.main section > div:nth-child(2) div span {
  font-size: 20px;
  font-weight: bold;
  border-right: 3px solid black;
  padding-right: 5px;
}
.main section > div:nth-child(2) div > p {
  text-align: center;
}

.score {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.score h1 {
  font-size: 48px;
}
.score p {
  font-size: 24px;
  color: darkgreen;
  font-weight: bold;
}
.score a {
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: 0.3s;
}
.score a:active {
  transform: translateY(2px);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=app.css.map */
